@mixin no-user-interaction {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

$topbar-height : 70px;
$leftbar-width-collapsed : 40px;

$right-column-width: 300px;

$calendar-element-width: 120px;
$calendar-element-gutter: 20px;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #2B2B2B;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 0 0 $leftbar-width-collapsed;
    padding: 0;
    height: $topbar-height;
    color: white;
}

#logo {
    width: 170px;
    height: $topbar-height;
    margin: 0 0 0 10px;
    background-image: url('../img/logo.png');

        background-repeat: no-repeat;
        background-position: center;
    @media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
        background-image: url('../img/logo@2x.png');
        background-size: 50% 50%;
    }

    float: left;
}

#topnav {
    float: right;
}

#main {
    margin-left: $leftbar-width-collapsed;
    background-color: white;
}


$cal-time-width: 70px;

#calendar {
    float: left;
    width: calc(100% - #{$right-column-width});
}

#utilities {
    width: $right-column-width;
    float: right;
}

.cal-inner {
    position: relative;
    margin-top: 20px;
}

.cal-meetings {
    margin-left: $cal-time-width;
    padding-left: 10px;
    margin-right: 10px;
}

.cal-meetings-inner {
    margin: 0 auto 0 auto;
    position: relative;
    width: 4 * $calendar-element-gutter + 5 * $calendar-element-width;
}

.cal-stripe {
    height: 62px;
    padding-top: 3px;
}

.cal-time {
    color: #7E7E7E;
    font-size: 18px;
    text-align: right;
    width: $cal-time-width;
}

.cal-stripes {
    @include no-user-interaction;
}

.cal-stripe.odd {
    background-color: #FAFAFA;
}

.calele {
    width: $calendar-element-width;
    position: absolute;
    z-index: 1;
}

.calele-m {
    left: 0;
}

.calele-t {
    left: $calendar-element-gutter + $calendar-element-width;
}

.calele-w {
    left: 2 * $calendar-element-gutter + 2 * $calendar-element-width;
}

.calele-r {
    left: 3 * $calendar-element-gutter + 3 * $calendar-element-width;
}

.calele-f {
    left: 4 * $calendar-element-gutter + 4 * $calendar-element-width;
}

.calele-s {
    left: 5 * $calendar-element-gutter + 5 * $calendar-element-width;
}

.meeting {
}

.meeting p {
    margin: 0;
    text-align: center;
}

p.meeting-title {
    font-size: 14px;
    margin: 3px 0 3px 0;
}

p.meeting-time, p.meeting-loc {
    font-size: 10px;
}

$palette: ("pearl" : rgba(234, 224, 200, 0.75),
"pink" : rgba(234, 205, 200, 0.75),
"purple" : rgba(234, 200, 223, 0.75),
"lavender" : rgba(221, 200, 234, 0.75),
"blue" : rgba(200, 201, 234, 0.75),
"cyan" : rgba(200, 234, 234, 0.75),
"applegreen" : rgba(200, 234, 217, 0.75),
"green" : rgba(205, 234, 200, 0.75),
"beryl" : rgba(221, 234, 200, 0.75),
"yellow" : rgba(229, 234, 200, 0.75));

@each $name, $color in $palette {
    .meeting.#{$name} {
        background-color: $color;
    }
}

/**
 * z-index table
 * 0 : stripe;
 * 1 : normal elements;
 * 2 : mutable elements;
 * 3 : conflict overlay;
 * 4 : dropoff;
 * 5 : dragging elements;
 */

.meeting.mutable {
    @include no-user-interaction;
    z-index: 2;
}


.meeting.mutable:hover, .meeting.mutable *:hover, {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.meeting.mutable:hover {
    border: 2px solid black;
    margin: -2px;
}

.meeting.mutable:active,
.meeting.mutable:active *,
.meeting.mutable.ui-draggable-dragging:hover,
.meeting.mutable.ui-draggable-dragging:hover * {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    z-index: 5;
}

.mtdropoff {
    border: 2px dashed #AEAEAE;
    background-color: rgba(250, 250, 250, 0.95);
    margin: -2px;


    z-index: 4;
    color: #949494;
    text-align: center;
}

.mtdropoff-inner {
    display: inline-block;
  vertical-align: middle;
  width: 100%;
}

#conflict-overlay {
    visibility: hidden;
    transition: visibility 0s;

    transition-delay: 0.3s;
}

#conflict-overlay.show {
    visibility: visible;

    transition-delay: 0s;
}

#conflict-overlay > div {
    transition: opacity 0.3s;
    opacity: 0;
}

#conflict-overlay.show > div {
    opacity: 1;
}

.conflict-indicator {
    z-index: 3;
    background-color: rgba(255, 144, 144, 0.7);

}

.mtdropoff:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mtdropoff p {
    font-size: 10px;
    margin: 2px;
}


/* Search */
#topsearch {
    margin-left: 180px;
    margin-right: 250px;
}

#topsearch input {
    width: calc(100% - 50px);
    max-width: 450px;

    border: 1px solid black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 5px;
    margin-left: 50px;
    margin-top: ($topbar-height - 30px) / 2;
}

.ui-autocomplete {
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 5px 0 5px 0;
    z-index: 10;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    max-height: 500px;
    overflow: scroll;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #eee;
}

.ui-autocomplete .ui-menu-item p {
    font-size: 14px;
    margin: 0;
    text-overflow: ellipsis;
}

.ui-autocomplete .ui-menu-item p em {
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
}

footer {
    color: #aaa;
    font-size: 12px;
    text-align: right;
    padding: 5px;
    margin-top: 5px;
}

.basic-info-container {

}

.basic-info-conflict {
    margin-left: 10px;
    color: #ff8d8d;
    cursor: pointer;
}

.basic-info-conflict > p {
    margin: 0;
}

.basic-info {
    display: inline-block;
    width: 80px;
    margin: 5px;
    text-align: center;
}

.basic-info-value {
    font-size: 24px;
    font-weight: 400;
    margin: 3px;
}

.basic-info:first-child {
    margin-left: 20px;
}

.basic-info-title {
    font-size: 12px;
    margin: 3px;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;;
    background-color: white;
    border: 1px solid #ccc;
    margin: -15px 0 0 -50px;
    z-index: 99;
}

.hidden {
    display: none;
}

.basket-item {
    padding: 5px;
    margin: 10px;
}

.basket-item.invisible {
    color: #aaa;
}

.basket-item .content-buttons {
    float: right;
    margin-left: 5px;
}

.basket-item .content {
}

.basket-item .content-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 0px;
}

.basket-item .content > .content-buttons {
    display: none;
}

.basket-item .content:hover > .content-buttons {
    display: block;
}

.basket-item .content:hover > .content-title {
    margin-right: 30px;
}

.basket-item .content.level-2 {
    margin: 5px 0 5px 12px;
}

.selected-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: -10px;
    background-color: gray;
}
.selected-indicator.selectable {
    cursor: pointer;
}

.selected-indicator.selected {
    background-color: green;
}

@each $name, $color in $palette {
    .basket-item.#{$name} {
        border-left: 3px solid $color;
    }
}

footer a {
    color: #aaa;
}

.drop-element .menu {
    border: 1px solid #aaa;
    background-color: white;
    margin: 5px;
    padding: 1px;
}

.drop-element .menu ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}

@import 'jquery-ui';
@import 'drop';